@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 930px;
  margin: auto;
}

.ngkhanhtrinh-img {
  background: url("../../image/home-image.jpg");
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 20rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 20rem;
}

.background-gray {
  background-color: #fbfbfb;
}

.box-top-left {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  top: -5px;
  left: -5px;
}

.box-top-center {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  top: -5px;
  left: 50%;
}

.box-top-right {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  top: -5px;
  right: -5px;
}

.box-bottom-left {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  bottom: -5px;
  left: -5px;
}

.box-bottom-center {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  bottom: -5px;
  left: 50%;
}

.box-bottom-right {
  border: 2px solid #333d29;
  background-color: #d1d3d4;
  bottom: -5px;
  right: -5px;
}

.img-verticle {
  width: 300px;
}

.img-verticle img {
  height: 37rem;
}

.img-aboutme img {
  height: 18rem;
}

.home-portfolio {
  width: 48%;
}

.home-portfolio p {
  letter-spacing: 0.6rem;
}

.ngkhanhtrinh {
  line-height: 5.5rem;
}
@media screen and (max-width: 640px) {
  .ngkhanhtrinh{
  line-height: 3.5rem;

  }
}

.fe-dev {
  letter-spacing: 0.6rem;
  font-weight: 600;
}

.image-project {
  height: 400px;
}

/* @media screen and (min-width: 1536px) {
  .image-pettsitter {
    height: 600px;
  }
  .image-parent:hover {
    height: 600px;
  }
} */

.visit-website {
  display: none;
}

.overlay {
  display: none;
}

.image-parent {
  position: relative;
}

.image-parent:hover .overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.image-parent:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
}

@keyframes morph {
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}